.home-main-container{
    background-image: url('./undraw_experience_design_re_dmqq.svg');
    
    height: 100vh;
    width: 100vw;
    /* background-color: aqua; */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
}

.home-main-secondary-container{
    height: 100vh;
    /* width: 10px; */
}